<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors
        mode="RemoteOnly" xdt:Transform="Replace">
    </customErrors>
    <trace enabled="false" localOnly="true" xdt:Transform="Replace" />
    <httpRuntime maxRequestLength="10240" xdt:Transform="SetAttributes(maxRequestLength)" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10000000" xdt:Transform="SetAttributes(maxAllowedContentLength)" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add xdt:Transform="Insert" key="MAIL_SERVER" value="DC01" />
    <add xdt:Transform="Insert" key="SMTP_PORT" value="25" />
    <add xdt:Transform="Insert" key="ADDR" value="contact@manahost.fr" />
    <add xdt:Transform="Insert" key="NAME" value="Manahost" />
    <add xdt:Transform="Insert" key="GOOGLE_CLIENT_ID" value="" />
    <add xdt:Transform="Insert" key="GOOGLE_CLIENT_SECRET" value="" />
  </appSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="C:\\APILog\\PROD\\Log.txt" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>